<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>Confirmation of your reservation at</h1>
    <p>
      Your reservation was confirmed<br />
    </p>
  </body>
</html>