.footer__top
	.column
		.s-wrapper
			%select#lang_selector.selector{name: "lang_selector"}
				%option{lang: "id", value: "id"} Bahasa Indonesia
				%option{lang: "ms", value: "ms"} Bahasa Melayu
				%option{lang: "ca", value: "ca"} Català
				%option{lang: "da", value: "da"} Dansk
				%option{lang: "de", value: "de"} Deutsch
				%option{lang: "en", value: "en"} English
				%option{lang: "es", value: "es"} Español
				%option{lang: "el", value: "el"} Eλληνικά
				%option{lang: "fr", value: "fr"} Français
				%option{lang: "hr", value: "hr"} Hrvatski
				%option{lang: "it", value: "it"} Italiano
				%option{lang: "hu", value: "hu"} Magyar
				%option{lang: "nl", value: "nl"} Nederlands
				%option{lang: "no", value: "no"} Norsk
				%option{lang: "pl", value: "pl"} Polski
				%option{lang: "pt", value: "pt"} Português
				%option{lang: "fi", value: "fi"} Suomi
				%option{lang: "sv", value: "sv"} Svenska
				%option{lang: "tr", value: "tr"} Türkçe
				%option{lang: "is", value: "is"} Íslenska
				%option{lang: "cs", value: "cs"} Čeština
				%option{lang: "ru", value: "ru"} Русский
				%option{lang: "th", value: "th"} ภาษาไทย
				%option{lang: "zh", value: "zh"} 中文 (简体)
				%option{lang: "zh-TW", value: "zh-TW"} 中文 (繁體)
				%option{lang: "ja", value: "ja"} 日本語
				%option{lang: "ko", value: "ko"} 한국어
		.s-wrapper
			%select#currency-selector.currency_selector{name: "currency-selector"}
				%option{value: "AED"} AED
				%option{value: "ARS"} ARS
				%option{value: "AUD"} AUD
				%option{value: "BGN"} BGN
				%option{value: "BRL"} BRL
				%option{value: "CAD"} CAD
				%option{value: "CHF"} CHF
				%option{value: "CLP"} CLP
				%option{value: "CNY"} CNY
				%option{value: "COP"} COP
				%option{value: "CRC"} CRC
				%option{value: "CZK"} CZK
				%option{value: "DKK"} DKK
				%option{value: "EUR"} EUR
				%option{value: "GBP"} GBP
				%option{value: "HKD"} HKD
				%option{value: "HRK"} HRK
				%option{value: "HUF"} HUF
				%option{value: "IDR"} IDR
				%option{value: "ILS"} ILS
				%option{value: "INR"} INR
				%option{value: "JPY"} JPY
				%option{value: "KRW"} KRW
				%option{value: "MAD"} MAD
				%option{value: "MXN"} MXN
				%option{value: "MYR"} MYR
				%option{value: "NOK"} NOK
				%option{value: "NZD"} NZD
				%option{value: "PEN"} PEN
				%option{value: "PHP"} PHP
				%option{value: "PLN"} PLN
				%option{value: "RON"} RON
				%option{value: "RUB"} RUB
				%option{value: "SAR"} SAR
				%option{value: "SEK"} SEK
				%option{value: "SGD"} SGD
				%option{value: "THB"} THB
				%option{value: "TRY"} TRY
				%option{value: "TWD"} TWD
				%option{value: "UAH"} UAH
				%option{value: "USD"} USD
				%option{value: "UYU"} UYU
				%option{value: "VND"} VND
				%option{value: "ZAR"} ZAR
	.column__info
		.div
			%section
				%h3.head
					%span BBairbnb
				.div{style: 'margin-top:16px;'}
					%ul
						%li.list_info
							=link_to "About us" ,root_path
						%li.list_info
							=link_to "Careers" ,root_path
						%li.list_info
							=link_to "Press" ,root_path
						%li.list_info
							=link_to "Policies" ,root_path
						%li.list_info
							=link_to "Help" ,root_path
						%li.list_info
							=link_to "Diversity & Belonging" ,root_path
	.column__discover
		.div
			%section
				%h3.head
					%span Discover
				.div.b{style: 'margin-top:16px;'}
					%ul
						%li.list_info
							=link_to "Trust & Safety" ,root_path,class: "link_info"
						%li.list_info
							=link_to "Travel Credit" ,root_path
						%li.list_info
							=link_to "Gift Cards" ,root_path
						%li.list_info
							=link_to "Bairbnb Citizen" ,root_path
						%li.list_info
							=link_to "Business Travel" ,root_path
						%li.list_info
							=link_to "Guidebooks" ,root_path
						%li.list_info
							=link_to "Bairbnbmag" ,root_path
	.column__hosting
		.div
			%section
				%h3.head
					%span Hosting
				.div.b{style: 'margin-top:16px;'}
					%ul
						%li.list_info
							=link_to "Why Host" ,root_path
						%li.list_info
							=link_to "Hospitality" ,root_path
						%li.list_info
							=link_to "Responsible Hosting" ,root_path
						%li.list_info
							=link_to "Community Center" ,root_path
.div{style: 'margin-top: 48px; margin-bottom: 24px; clear:both;'}
	.line{style: "margin-top: 16px; margin-bottom: 16px;"}
		.ruler
.footer__bottom
	.left-content
		.bottom-logo
			=image_tag("logo3.jpg", class: "b-logo")
		.bottom-text © Bairbnb, Inc.
	.right-content
		%ul
			%li.items
				%span.social-icon
					=link_to fa_icon("facebook"),"https://www.facebook.com",target: "_bank"
				%span.social-icon
					=link_to fa_icon("twitter"),"https://twitter.com" ,target: "_bank"
				%span.social-icon
					=link_to fa_icon("instagram"),"https://www.instagram.com",target: "_bank"
			%li.items
				=link_to "Site Map" ,root_path
			%li.items
				=link_to "Privacy" ,root_path
			%li.items
				=link_to "Terms", root_path
			%li.items

