.head-content
	.icon
		=link_to image_tag("logo2.jpg", class: "logo"),root_path
	.head-content__plan
		.container
			Add "plan box" later
	.head-content__info
		%ul
			-if user_signed_in?
				%li.info_list
					=link_to "Log Out",destroy_user_session_path, method: :delete,class: "info"
				%li.info_list
					=link_to "Help",root_path,class: "info"
				%li.info_list
					=link_to "Messages",root_path,class: "info"
			-else
				%li.info_list
					%div{class: "info",id: "Login"}Log In
				%li.info_list
					%div{class: "info",id: "signUp"} Sign Up
				%li.info_list
					=link_to "Help",root_path,class: "info"
			%li.info_list
				=link_to "Become a Host",root_path,class: "info"
	.head-content__nav
		%ul
			%li.nav_list
				.wrapper
					=link_to "FOR YOU",root_path,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "HOMES",root_path,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "EXPERIENCES",root_path,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "PLACES",root_path,class: "nav"

/ %li.info_list
/ 	=link_to "Trips",root_path,class: "info"