.head-content
	.icon
		=link_to image_tag("logo2.jpg", class: "logo"),root_path, method: :get
	.head-content__plan
		.container
			.container__place
				%i.fa.fa-search{style: "float: left;"}
				%input#input__place{type: "text",placeholder:"Anywhere" }
			.container__date
				%div
					%i.fa.fa-calendar-o{style: "float: left;"}
					%input#input__date{type: "text",placeholder:"Anytime" }
			.container__guest
				%div
					%i.fa.fa-user-o{style: "float: left;"}
					%input#input__guest{type: "text",placeholder:"1 guest" }
	.head-content__info
		%ul
			-if user_signed_in?
				%label#user_icon
					%li.info_list#icon_tab
						-if current_user.image.present?
							= image_tag current_user.image_url,class: "profile__avatar"
						-else
							.i.fa.fa-user-circle-o.profile__avatar{style: "font-size:30px;"}
				%li.info_list
					=link_to "Help",root_path,method: :get,class: "info"
				%li.info_list
					=link_to "Messages",inbox_users_path,method: :get,class: "info"
				%li.info_list
					=link_to "Become a Host",user_hosts_path(current_user),method: :get,class: "info"
			-else
				%li.info_list
					%div{class: "info",id: "Login"}Log In
				%li.info_list
					%div{class: "info",id: "signUp"} Sign Up
				%li.info_list
					=link_to "Help",root_path,method: :get,class: "info"
	.head-content__nav
		%ul
			%li.nav_list
				.wrapper
					=link_to "FOR YOU",root_path,method: :get,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "HOMES",root_path,method: :get,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "EXPERIENCES",root_path, method: :get,class: "nav"
			%li.nav_list
				.wrapper
					=link_to "PLACES",root_path,method: :get,class: "nav"