%option{lang: "id", value: "id"} Bahasa Indonesia
%option{lang: "ms", value: "ms"} Bahasa Melayu
%option{lang: "ca", value: "ca"} Català
%option{lang: "da", value: "da"} Dansk
%option{lang: "de", value: "de"} Deutsch
%option{lang: "en", value: "en"} English
%option{lang: "es", value: "es"} Español
%option{lang: "el", value: "el"} Eλληνικά
%option{lang: "fr", value: "fr"} Français
%option{lang: "hr", value: "hr"} Hrvatski
%option{lang: "it", value: "it"} Italiano
%option{lang: "hu", value: "hu"} Magyar
%option{lang: "nl", value: "nl"} Nederlands
%option{lang: "no", value: "no"} Norsk
%option{lang: "pl", value: "pl"} Polski
%option{lang: "pt", value: "pt"} Português
%option{lang: "fi", value: "fi"} Suomi
%option{lang: "sv", value: "sv"} Svenska
%option{lang: "tr", value: "tr"} Türkçe
%option{lang: "is", value: "is"} Íslenska
%option{lang: "cs", value: "cs"} Čeština
%option{lang: "ru", value: "ru"} Русский
%option{lang: "th", value: "th"} ภาษาไทย
%option{lang: "zh", value: "zh"} 中文 (简体)
%option{lang: "zh-TW", value: "zh-TW"} 中文 (繁體)
%option{lang: "ja", value: "ja"} 日本語
%option{lang: "ko", value: "ko"} 한국어