.main
	%header
		= render "header"
	.body{style: "overflow: auto;"}
		= render "experiences"
		= render "homes"
	.body__bottom
= render "bottom"
%input{name: "current_user_id", type: "hidden", value: current_user.id, class: 'current_user_id' }
