.head-content.rooms
	.icon{style: "font-size:10px; height:64px;"}
		=link_to image_tag("logo4.png", class: "logo"),root_path,method: :get
	.step__bar
		.step__text
			%span Step 2:
			%span Set the scene
	.step__bar-right
		=link_to "Save and Exit",root_path
.progress-bars
	.progress-bar.first
	.progress-bar.second
	.progress-bar.third
	.progress-bar.fourth
	.progress-bar.fifth
	.progress-bar.sixth
	.progress-bar.seventh