.main
	%header
		= render "header"
	.body
		.body__rooms
			.body__left
				.request__form{style: "overflow:scroll;"}
					.request__title What amenities do you offer??
					.request__content
						=render "amenities_option"
					.request__bottom.form_list.form_position
						.back
							=link_to "← Back",locations_user_host_rooms_path
						.next
							=link_to "Next", spaces_user_host_rooms_path
			.body__right
