.main
	%header
		= render "header"
	.body
		.body__rooms
			.body__left
				.request__form
					.request__title How many guests can your place accommodate?
					.request__content
						.content__wrapper
							.content__guest
								Guests
							.button__wrapper
								%button.counter
									%span.counter__text +
							.counter__count
								2
							.button__wrapper{style: "float:center;"}
								%button.counter
									%span.counter__text{style: "font-size: 25px; line-height:15px; font-weight:100;"} -
						%div.form__list{style: "margin:32px 0; clear:both;"}
							%span
							How many bedrooms can guests use?
							.s-wrapper
								%select#lang_selector.selector{name: "Bed_rooms"}
									%option{value: "0"} Studio
									%option{value: "1"} 1 bedroom
									%option{value: "2"} 2 bedrooms
									%option{value: "3"} 3 bedrooms
									%option{value: "4"} 4 bedrooms
									%option{value: "5"} 5 bedrooms
									%option{value: "6"} 6 bedrooms
									%option{value: "7"} 7 bedrooms
									%option{value: "8"} 8 bedrooms
									%option{value: "9"} 9 bedrooms
									%option{value: "10"} 10 bedrooms
									%option{value: "11"} 11 bedrooms
									%option{value: "12"} 12 bedrooms
									%option{value: "13"} 13 bedrooms
									%option{value: "14"} 14 bedrooms
									%option{value: "15"} 15 bedrooms
									%option{value: "16"} 16 bedrooms
									%option{value: "17"} 17 bedrooms
									%option{value: "18"} 18 bedrooms
									%option{value: "19"} 19 bedrooms
									%option{value: "20"} 20 bedrooms
									%option{value: "21"} 21 bedrooms
									%option{value: "22"} 22 bedrooms
									%option{value: "23"} 23 bedrooms
									%option{value: "24"} 24 bedrooms
									%option{value: "25"} 25 bedrooms
									%option{value: "26"} 26 bedrooms
									%option{value: "27"} 27 bedrooms
									%option{value: "28"} 28 bedrooms
									%option{value: "29"} 29 bedrooms
									%option{value: "30"} 30 bedrooms
									%option{value: "31"} 31 bedrooms
									%option{value: "32"} 32 bedrooms
									%option{value: "33"} 33 bedrooms
									%option{value: "34"} 34 bedrooms
									%option{value: "35"} 35 bedrooms
									%option{value: "36"} 36 bedrooms
									%option{value: "37"} 37 bedrooms
									%option{value: "38"} 38 bedrooms
									%option{value: "39"} 39 bedrooms
									%option{value: "40"} 40 bedrooms
									%option{value: "41"} 41 bedrooms
									%option{value: "42"} 42 bedrooms
									%option{value: "43"} 43 bedrooms
									%option{value: "44"} 44 bedrooms
									%option{value: "45"} 45 bedrooms
									%option{value: "46"} 46 bedrooms
									%option{value: "47"} 47 bedrooms
									%option{value: "48"} 48 bedrooms
									%option{value: "49"} 49 bedrooms
									%option{value: "50"} 50 bedrooms
						.content__wrapper
							.form__list How many beds can guest use?
							.content__guest
								Beds
							.button__wrapper
								%button.counter
									%span.counter__text +
							.counter__count
								2
							.button__wrapper{style: "float:center;"}
								%button.counter
									%span.counter__text{style: "font-size: 25px; line-height:15px; font-weight:100;"} -
					.request__bottom.form_list
						.back
							=link_to "← Back",room_user_host_rooms_path
						.next
							=link_to "Next", bed_details_user_host_rooms_path
			.body__right