.main
	%header
		= render "header2"
	.body
		.body__rooms
			.body__left
				.request__form{style: "overflow:scroll;"}
					.request__title Edit your description
					.request__content
						%div.form__list
						= form_for @room, url: wizard_path do |f|
							.field{style: "float: left; margin-top:5px;"}
								%div.text{style: "font-size:18px;"} Summery
								= f.text_field :description,class: "form__summery"
							.request__bottom.form_list.form_position
								.back
									=link_to "← Back",previous_wizard_path
								%div
									=f.submit "Next",class: "next"
			.body__right
