.main
	%header
		= render "header2"
	.body
		.body__rooms
			.request__form.image-form
				.request__title{style: "padding:32px 0;"}
					Show travelers what your space looks like
				.request__content{style: "position:relative;"}
					.image__card
					%label
					= form_for @room, url: wizard_path do |f|
						= f.label :image do
							.inside.view_box
								.middle__button-wrapper
									.middle__button
										%span.fa.fa-cloud-upload
										%span Upload Photos
								=	f.file_field  :image,class: "hidden file"
						.request__bottom{style: "width:100%; margin-top:10px;"}
							.back
								=link_to "← Back", wizard_path(:home)
							%div
								=f.submit "continue", class: "next_form"


