.main
	%header
		= render "header2"
	.body
		.body__rooms
			.body__left
				.request__form{style: "overflow:scroll;"}
					.request__title Add your mobile number
					.request__content{style: "float:left;"}
						.counter{style: "width:100px; height:100px; border-color:#c4c4c4;"}
							.i.fa.fa-mobile{style: "font-size:70px; padding:15px;"}
						.form__list
					= form_for @user, url: wizard_path do |f|
						.form__phone-wrapper
							%span.phone__code +81
							=	f.telephone_field  :phone_number,class: "form__phone";
						.request__bottom.form_list.form_position
							.back
								=link_to "← Back",previous_wizard_path
							%div
								= f.hidden_field :progress,value: 1
								= f.submit "Finish",class: "next_form"
			.body__right

