.content{
	height:381px;
	border-top:1px solid #DBDBDB;
	&__main{
		width:1080px;
		background-color: transparent;
		padding-top: 48px ;
	  padding-bottom: 48px ;
	  margin: 0 auto ;
	  position: relative ;
	  padding-left: 24px ;
	  padding-right: 24px ;
	}
}