.head-content{
	width:100vw;
	height:105px;
	padding: 8px 0;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
		&__plan{
			float:left;
		}
		.container{
			position: absolute;
			width:572px;
			&__place{
				float: left;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    color: #484848 !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ffffff !important;
    border-radius: 2px !important;
    background-color: #ffffff !important;
    margin-bottom: 0px !important;
    position: relative !important;
    z-index: 0 !important;
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    display: block !important;
			}
			&__date{
				float: left;
			}
			&__guest{
				float: left;
			}
		}


		&__info{
			width:408px;
			float:right;
		}
		&__nav{
			height:40px;
			position:absolute;
			font-size:14px;
			font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
			left :24px;
			top  :80px;
		}
}

.icon{
	width:82px;
	float:left;
}


.logo{
	height: 34px;
	width: 34px;
	position:relative;
	top: 16px;
	left:20px;
	bottom:0;
	right:0;
}

.info_list{
	float:right;
	font-size:14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:64px;
	padding: 0px 16px;
	color:$f_color;
}

.info{
	float:right;
	text-decoration: none;
	color: inherit;
  white-space: nowrap
}
.info:hover{
	text-decoration: underline;
}

.nav_list{
	font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-seri;
	font-size:12px;
	float:left;
	line-height: 40px;
	color:$f_color;
	padding-right:16px;
	font-weight: 700;
}

.wrapper{
	height: 42px;
	}

.wrapper:hover{
	text-decoration: underline;
	border-bottom: 2px solid #008489;
	color:#008489;;
}

.nav{
	text-decoration: none;
	color: inherit;
  white-space: nowrap;
}

#input{
	&__place{
border:none;
	}
	&__date{
border:none;
	}
	&__guest{
border:none;

	}
}

    // font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    // font-size: 15px !important;
    // line-height: 18px !important;
    // letter-spacing: 0.2px !important;
    // padding-top: 0px !important;
    // padding-bottom: 0px !important;
    // color: #484848 !important;
    // border-width: 1px !important;
    // border-style: solid !important;
    // border-color: #ffffff !important;
    // border-radius: 2px !important;
    // background-color: #ffffff !important;
    // margin-bottom: 0px !important;
    // position: relative !important;
    // z-index: 0 !important;
    // margin-top: 0px !important;
    // margin-left: 0px !important;
    // margin-right: 0px !important;
    // display: block !important;


