.main-homes{
	height:352px;
	width:1392px;
	margin:48px 0;
	padding:0 24px;
}



.homes-content{
	height:352px;
	width:336px;
	float:left;
	margin-right:16px;
}

.slider-homes{
	height:300px;
	width:1408px;
}
.homes-images{
	height:224px;
}


.h-image{
	display: block;
	width:336px;
	height:352px;
}

.homes-topic{
	  font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    text-align: left;
}

.detail{
	float:left;
	    font-weight: 300 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
}