.main-homes{
	height:352px;
	width:1392px;
	margin:48px 0;
	padding:0 24px;
}



.homes-content{
	height:352px;
	width:336px;
	float:left;
	margin-right:16px;
}

.slider-homes{
	height:300px;
	width:1408px;
}
.homes-images{
	height:224px;
}


.h-image{
	display: block;
	width:336px;
	height:352px;
}

.homes-topic{
	  font-weight: 700 ;
    color: #484848 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    margin: 0px ;
    word-wrap: break-word ;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px ;
    text-align: left;
}

.detail{
	float:left;
	   font-weight: 300 ;
    color: #484848 ;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    margin: 0px ;
    word-wrap: break-word ;
    font-size: 15px ;
    line-height: 18px ;
    letter-spacing: 0.2px ;
}